body {
    background-color: #F8EEE7;
}

li {
    list-style: none;
}

li::before {
    content: "  💰 "
}

#titleArea {
    display: inline;
    text-align: center;
}

#titleMessage {
    background-color: #94618e;
    color: #F8EEE7;
    border-bottom: 3px solid;
    border-color: black;
}

#introArea {
    display: inline;
    text-align: center;
    border-bottom: 3px solid;
    border-color: black;
}

#buttonSubmit {
    display: inline;
    text-align: center;
    border-bottom: 3px solid;
    border-color: black;
}

#bitcoinValueBox {
    border: 3px solid black;
    background-color: white;
}

#stockValueBox {
    border: 3px solid black;
    background-color: white;
}